.div-content {
    margin-left: 34%;
    margin-right: 34%;
    max-width: 50%;
    position: relative;
}

.slider-button {
    border: none;
    display: inline-block;
    padding: 8px 8px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: black;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%)
}

.slider-button:hover {
    color: rgb(241, 149, 87)
}

.display-left {
    left: 0%;
}

.display-right {
    right: 0%;
}

#oatsh1 {
font-size: 60px;
color: rgb(248, 101, 16);
font-family: 'Anton', sans-serif;
Margin-left: 30px;
}




.sidenav{
    list-style-type: none; 
  }
  
  #hp{
    padding: 20px;
   
  }
  
  #lp{
    padding: 20px;
  
  
  }#pp{
    padding: 20px;
  
  }
  
  
  @media only screen and (max-width: 400px) {
    .homemain{
  background-color: rgb(243, 181, 145);
  width: 100px;
  height: 100px;
  justify-content: flex-end; 
    }
  
  }
  
  .homemain {
    text-align: center;
    color: black;
    Font-size: 45px;
  }
  .footer {
    text-align: center;
  }
  
  #h1{
  font-size: 70px;
  color: rgb(248, 101, 16);
  font-family: 'Anton', sans-serif;
  padding: 30px;
  margin: 20px;
  }
  
  
  
  #dropdown1 {
    position: relative;
    display: inline-block;
  }
  
   
    #dropbtn1 {
      background-color: rgb(236, 149, 90);
      color: white;
      padding: 16px;
      font-size: 16px;
      border: rgb(0, 0, 0);
    }
  
    #dropdown-content1 {
      display: none;
      position: absolute;
      background-color: rgb(255, 255, 255);
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(231, 82, 23, 0.623);
      z-index: 1;
  
  }
  #dropdown-content1 a {
    color: rgb(241, 102, 37);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: black;
  }
    
    
  #dropdown-content1 a:hover {background-color: #ddd;}
  
    
  #dropdown1:hover #dropdown-content1 {display: block;} 
    
  #dropdown1:hover #dropbtn1 {background-color: rgb(245, 110, 0);}
  
  
  
  
    #hem{
        padding: 10px;
        margin: 10px;
  
        }

        .leftcol{
        text-align: center;
        }

.body{
  
  display: flex;

}